<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Object Detection</title>
</head>
<body>
  <h1>Object Detection</h1>
  <div class="container">
    <div class="buttons">
      <button (click)="loadModel()">LOAD MODELS</button>
      <div class="select">
        <label for="checkCameraSource">SELECT CAMERA SOURCE</label>
        <select name="select source" id="select-camera-source" (change)="cameraSource($event)">
          <option id="checkCameraSource" *ngFor="let camera of cameras" [value]="camera.deviceId">{{camera.label}}</option>
        </select>
      </div>
    </div>
    <div class="camera-section" style="display: flex; justify-content: center; border: solid 5px;">
      <video id="video" width="720px" style="border: solid 5px red;" autoplay></video>
      <canvas id="canvas" width="720px" style="border: solid 5px green;"></canvas>
    </div>
    <div class="displayed-value" style="border: solid 5px; height: fit-content;">
      <div class="list" style="display: flex; margin-left: 2rem;">
        <label for="objects" style="width: 200px;"><h2>OBJECTS :</h2></label>
        <h2 id="objects">Person</h2>
      </div>
      <div class="list" style="display: flex; margin-left: 2rem;">
        <label for="confidence" style="width: 200px;"><h2>CONFIDENCE :</h2></label>
        <h2 id="confidence">72%</h2>
      </div>
    </div>
  </div>
</body>
</html>