<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Machine Learning with Angular</title>
</head>
<body>
  <div style="display: flex; justify-content: center; flex-direction: column; align-items: center;">
    <div id="video-content" style="display: flex; flex-direction: row; justify-content: start;">
      <video id="video" autoplay width="720px" height="480px" style="border: solid 2px;"></video>
      <canvas id="canvas" width="720px" height="480px" style="border: solid 2px;"></canvas>
      <div style="border: solid 2px; width: 720px; height: 480px;">
        <h1 *ngIf="mask_on > mask_off">MASK ON</h1>
        <h1 *ngIf="mask_on < mask_off">MASK OFF</h1>
      </div>
    </div>
    <button style="width: 100px;" (click)="openCamera()">OPEN CAMERA</button>
    <button style="width: 100px;" (click)="checkCameraSource()">CHECK CAMERA SOURCE</button>
    <button style="width: 100px;" (click)="dispose()">Dispose MODEL</button>
  </div>
</body>
</html>